kml(xmlns='http://www.opengis.net/kml/2.2')
  Document
    for val,key in marks
      Placemark
        name=val.name
        Point
          coordinates= key
        description
          table
            for ev in val.events
              tr
                td= ev._datestr
                td
                  - if (ev.url)
                    a(href=ev.url.value)= ev.summary.value
                  - else
                    span= ev.summary.value
